<script type="text/javascript">
  $(function() {
      $('#item_asset_image').uploadifive({
          'uploadScript' : '<%= item_assets_path() %>',
          'fileType'     : 'image',
          'fileObjName'  : 'item_asset[image]',
          'multi'        : true,
          'auto'         : false,
          'queueID'      : 'queue',
          'onUploadComplete' : function(file, data) {
              console.log('The file ' + file.name + ' uploaded successfully.');
              $('#photos').append(data);
          },
          'onAddQueueItem' : function(file) {
              console.log('The file ' + file.name + ' was added to the queue!');
              $('#upload_file_button').show();
          },
          'onQueueComplete'   : function(uploads) {
              console.log(uploads.successful + ' files were uploaded successfully.');
              $('#upload_file_button').hide();
              
              // call the server using ajax, and get the editor form for the item so the user can enter the title and description
              get_url = "/items/" + $('#item_asset_item_id').val() + "/edit";
              $.get(get_url, 
                 {},
                 function(form) {
                   $('#photos').after(form);
                 }
              );
          }
      });
  });
  
  function beginUpload() {
    $.post('<%= items_path() %>', 
       {},
       function(data_gallery) {
         console.log("Received data from creating a gallery: " + $.parseJSON(data_gallery).id);
         $('#item_asset_item_id').val($.parseJSON(data_gallery).id);
         
         console.log("Item id: " +  $('item_asset_item_id').val());
         $('#item_asset_image').data('uploadifive').settings.formData = { 'item_asset[item_id]' : $('#item_asset_item_id').val() };
         $('#item_asset_image').uploadifive('upload');
       }
    );
  }
</script>

<div id="photos">
  <% unless @item.new_record? %>
      <%= hidden_field_tag 'item_asset[item_id]' %>
      <div id="queue" style="width: 200px;text-align:center;border: thin solid black">drop files here</div>
      <%= fields_for ItemAsset.new do |f| %>
        <%= f.file_field :image, :rel => item_assets_path(@item) %>
      <% end %>
      <a id="upload_file_button" style="display:none;" href="javascript:beginUpload();">Upload Files</a>
  <% end %>
</div>


